---
- name: add "stretch-backports" to sources (required for haproxy 1.8)
  ansible.builtin.apt_repository:
    repo: deb http://httpredir.debian.org/debian stretch-backports main
    state: present
    update_cache: false

# - name: Run the equivalent of "apt-get update"
#   apt:
#     update_cache: yes

- name: install certbot
  apt:
    name: python-certbot
    state: present
    default_release: stretch-backports
    cache_valid_time: 3600

- name: create "certbot" group
  group:
    name: certbot

- name: create "certbot" user
  user:
    name: certbot
    group: certbot
    groups: haproxy
    shell: /bin/bash
    home: /opt/certbot

- name: generate 2048-bit dhparams.pem file
  openssl_dhparam:
    owner: root
    group: root
    mode: 0644
    path: /opt/certbot/dhparams.pem
    size: 2048

- name: create certbot logs directory
  file:
    path: /opt/certbot/logs
    state: directory
    owner: certbot
    group: certbot
    mode: 0755

- name: create certbot config directory
  file:
    path: /opt/certbot/config
    state: directory
    owner: certbot
    group: certbot
    mode: 0755

- name: create certbot .config/letsencrypt directory
  file:
    path: /opt/certbot/.config/letsencrypt
    state: directory
    owner: certbot
    group: certbot
    mode: 0755

- name: copy certbot configuration
  copy:
    src: cli.ini
    dest: /opt/certbot/.config/letsencrypt/
    owner: root
    group: root
    mode: 0644

- name: allow the certbot user to restart haproxy
  lineinfile:
    dest: /etc/sudoers
    state: present
    line: '%certbot ALL=NOPASSWD: /bin/systemctl restart haproxy'
    regexp: '^%certbot'

- name: clone certbot-haproxy repository
  git:
    repo: https://code.greenhost.net/open/certbot-haproxy.git
    dest: /opt/certbot/certbot-haproxy

- name: install python-setuptools
  apt:
    name: python-setuptools

- name: install pip
  easy_install:
    name: pip

- name: install certbot-haproxy
  pip:
    name: /opt/certbot/certbot-haproxy/
