---
- name: add "stretch-backports" to sources (required for haproxy 1.8)
  ansible.builtin.apt_repository:
    repo: deb http://httpredir.debian.org/debian stretch-backports main
    state: present
    update_cache: false

# - name: Run the equivalent of "apt-get update"
#   apt:
#     update_cache: yes

- name: install haproxy
  apt:
    name: haproxy
    state: present
    default_release: stretch-backports
    cache_valid_time: 3600

- name: check if the Certbot certificates exist
  stat:
    path: /opt/certbot/haproxy_fullchains/__fallback.pem
  register: certbot_cert_check_result

- name: copy haproxy.cfg
  template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    owner: root
    group: root
    mode: 0644
  notify:
  - restart haproxy
