---
- name: install nessesary package
  apt: 
    name: apt-transport-https
    state: present
    update_cache: yes

- name: add grafana gpg key
  shell: curl https://packages.grafana.com/gpg.key | sudo apt-key add -

- name: add grafana repo 
  apt_repository:
    repo: deb https://packages.grafana.com/oss/deb stable main
    state: present
    filename: grafana

- name: install grafana
  apt: 
    name: grafana
    state: present
    update_cache: yes

- name: grafana configuration file copy
  template:
    src: "grafana.conf.j2"
    dest: /etc/grafana/grafana.ini
  notify: event_restart_grafana

- name: grafana server started
  service:
    name: grafana-server
    enabled: true
    state: started

- name: check if grafana is accessible
  uri:
    url: http://localhost:3000/login
    method: GET
    status_code: 200
