[ha]
10.10.10.10

[ha:vars]
ansible_user=vagrant
ansible_connection=ssh
host_key_checking = False
ansible_ssh_private_key_file=/Users/haole/Documents/Working/aws/omg_aws_ansible/vagrant/.vagrant/machines/haproxy/virtualbox/private_key

[docker01]
10.10.10.20

[docker01:vars]
ansible_user=vagrant
ansible_connection=ssh
host_key_checking = False
ansible_ssh_private_key_file=/Users/haole/Documents/Working/aws/omg_aws_ansible/vagrant/.vagrant/machines/docker01/virtualbox/private_key
device2_hdd_dev=/dev/sdc

[docker02]
10.10.10.30

[docker02:vars]
ansible_user=vagrant
ansible_connection=ssh
host_key_checking = False
ansible_ssh_private_key_file=/Users/haole/Documents/Working/aws/omg_aws_ansible/vagrant/.vagrant/machines/docker02/virtualbox/private_key
device2_hdd_dev=/dev/sdc

[docker03]
10.10.10.40

[docker03:vars]
ansible_user=vagrant
ansible_connection=ssh
host_key_checking = False
ansible_ssh_private_key_file=/Users/haole/Documents/Working/aws/omg_aws_ansible/vagrant/.vagrant/machines/docker03/virtualbox/private_key
device2_hdd_dev=/dev/sdc

[monitor]
10.10.10.50

[monitor:vars]
ansible_user=vagrant
ansible_connection=ssh
host_key_checking = False
ansible_ssh_private_key_file=/Users/haole/Documents/Working/aws/omg_aws_ansible/vagrant/.vagrant/machines/monitor/virtualbox/private_key


[all:children]
ha
monitor
docker01
docker02
docker03

[managers:children]
docker01
docker02
docker03

[glusters:children]
docker01
docker02
docker03

[haproxy:children]
ha

[alertmanager:children]
monitor

[node_exporter:children]
monitor
docker01
docker02
docker03

[grafana:children]
monitor

[prometheus:children]
monitor