---
- name: verify system dependencies
  apt:
    pkg:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg-agent
      - software-properties-common
      - python-pip
      - python3-pip
      - apache2-utils
    state: present
    force_apt_get: true
    update_cache: yes
