---
- name: check if swarm has already been initialized
  shell: docker node ls
  register: swarm_status
  ignore_errors: true

- name: add workers to the swarm
  vars:
    token: "{{ hostvars[groups['managers'][0]]['worker_token']['stdout'] }}"
    master: "{{ hostvars[groups['masters'][0]]['inventory_hostname'] }}"
  command: docker swarm join --token {{ token }} {{ master }}:2377
  when: swarm_status.rc != 0
  register: worker

- name: show results
  debug: var=worker.stdout

- name: show rrrors
  debug: var=worker.stderr
  
